* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
    /* font-family: 'Caveat', cursive;
      font-family: 'Red Hat Display', sans-serif;*/
}

.contain {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 6vh;
}

header {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
    border-bottom: 1vh solid #88bdbc;
    box-shadow: 0 5px 10px -5px #000000;
    z-index: 100;
    /* font-family: 'Red Hat Display', sans-serif;*/
}

footer {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: black;
    border-top: solid #88bdbc 1vh;
    position: relative;
}

/*header*/
.flexbox1 {
    display: flex;
    padding: 0 3vw 0 3vw !important;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;

}

.logo {
    font-size: 3vw;
    margin-right: 3vw;
    color: #88bdbc;
    font-weight: bold;
}

.logo:hover {
    text-decoration: none;
    color: #88bdbc;
    opacity: 0.5;
}


.item {
    font-size: 1.8vw;
    font-weight: bold;
    color: #7f7f7f !important;
    margin-top: 1.2vh;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    display: flex;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}


.item a:hover {

    text-underline-offset: 0.2em;
    color: #88bdbc !important;
}

.contact {
    white-space: nowrap;
}

.contact a {
    color: #88bdbc;
    font-size: 2.5vw;
    margin: 1.4vh 0.4vh 0.4vh 0.4vh;

}

.contact a:hover {
    text-decoration: none;
    opacity: 0.5;

}

.sticky {
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 0;
}

/*main*/

.wrap {
    width: 35vw;
    height: 60vh;
    margin-left: 35vw;
    margin-top: 7.5vh;
    background-color: #b7caca;
padding-top: 5vh;
    border-radius: 20px;
}



input {
    width: 25vw;
    height: 8vh;
    margin-top: 5vh;
    border-radius: 10px;
    border-style:none;
}

button {
    margin-top: 5vh;
    width: 25vw;
    height: 8vh;
    border-style:none;
    border-radius: 10px;
    background-color: white;
}
button:hover{
    background-color: linen;
}
/*footer*/
footer p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}