* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
    /* font-family: 'Caveat', cursive;
      font-family: 'Red Hat Display', sans-serif;*/
}

.contain {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10vh 180vw 84vh 6vh;
}

main {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;

}

header {

    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    border-bottom: 1vh solid #88bdbc;
    box-shadow: 0 5px 10px -5px #000000;
    z-index: 100;
    /* font-family: 'Red Hat Display', sans-serif;*/
}

#about {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: white;
}



#contactus {
    background-image: linear-gradient(to right, #88bdbc62, white);
    display: grid;
    grid-template-columns: 4fr 7fr;
    grid-template-rows: 1fr;
    grid-column: 1/2;
    grid-row: 4/5;
}

footer {
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: black;
    border-top: solid #88bdbc 1vh;
    position: relative;
}



/*main*/

main img {
    width: 100% !important;
    max-height: 90vh !important;
    object-fit: contain;

}

.container-fluid {
    padding: 0;
}

.one {
    background-image: linear-gradient(to right, #9f80a580, #b7ce8380);
}

.two {
    background-image: linear-gradient(#5d6d343a, #233014a2);
}

.three {
    background-image: linear-gradient(to bottom right, #8e880ea6, #d4592975);
}

.four {
    background-image: linear-gradient(to right, #aab87979, #21450d6c);
}

.caption11 {
    font-size: 7.5vw;
    font-style: italic;
    position: absolute;
    left: 20vw;
    top: 20vh;
    color: white;
}

.caption12 {
    font-size: 3.5vw;
    font-style: italic;
    position: absolute;
    left: 30vw;
    top: 40vh;
    color: white;
}

.caption21 {
    font-size: 4vw;
    font-style: italic;
    font-weight: 2rem;
    position: absolute;
    left: 18vw;
    top: 44vh;
    color: white;
}

.caption31 {
    font-size: 5vw;
    font-style: italic;
    font-weight: 3rem;
    position: absolute;
    left: 20vw;
    top: 20vh;
    color: white;
}

.caption41 {
    font-size: 5vw;
    font-style: italic;
    font-weight: 3rem;
    position: absolute;
    left: 15vw;
    top: 40vh;
    color: white;
}


/*header*/
.flexbox1 {
    display: flex;
    padding: 0 3vw 0 3vw !important;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo {
    font-size: 3vw;
    margin-right: 3vw;
    color: #88bdbc;
    font-weight: bold;
}

.logo:hover {
    text-decoration: none;
    color: #88bdbc;
    opacity: 0.5;
}


.item {
    font-size: 1.8vw;
    font-weight: bold;
    color: #7f7f7f !important;

}

.navbar {
    width: 100%;
}

.navbar-nav {
    display: flex;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}


.item a:hover {

    text-underline-offset: 0.2em;
    color: #88bdbc !important;
}

.contact {
    white-space: nowrap;
}

.contact a {
    color: #88bdbc;
    font-size: 2.5vw;
    margin: 0.4vh 0.4vh 0.4vh 0.4vh;

}

.contact a:hover {
    text-decoration: none;
    opacity: 0.5;

}

.sticky {
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 0;
}

/*about*/
.ti {
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 20vh;
}

.ti h1 {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 3.5vw;
    font-weight: 2.5px;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 0vh 1fr 1vh 1fr 15vh 1fr;

}

.first {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 0 5vw;
    text-align: left;
}

.first p {
    font-size: 1.4vw;
}

.first h3 {
    font-size: 2vw;
    font-weight: 2px;
}

.pic1 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.pic11 {
    width: 80%;
    margin-top: 1vh;
    margin-right: 5vw;
}

.second {
    grid-column: 2/4;
    grid-row: 3/4;
    text-align: left;
    padding: 0 5vw;

}

.second p {
    font-size: 1.4vw;
}

.second h3 {
    font-size: 2vw;
    font-weight: 2px;
}

.pic2 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.pic22 {
    width: 80%;
    margin-top: 5vh;
    margin-left: 5vw;
}



.third {
    grid-column: 1/2;
    grid-row: 5/6;
    text-align: left;
    padding: 0 5vw;

}

.third p {
    font-size: 1.4vw;
}

.third h3 {
    font-size: 2vw;
    font-weight: 2px;
}

.pic3 {
    grid-column: 2/4;
    grid-row: 5/6;
}

.pic33 {
    width: 90%;
    margin-top: 13vh;
    margin-right: 5vw;
}

.fourth {
    grid-column: 2/4;
    grid-row: 7/8;
    text-align: left;
    padding: 0 5vw;
}

.fourth p {
    font-size: 1.4vw;
}

.pic4 {
    grid-column: 1/2;
    grid-row: 7/8;
}

.pic44 {
    width: 85%;
    margin-top: -1vh;
    margin-left: 5vw;
}

.fourth h3 {
    font-size: 2vw;
    font-weight: 2px;
}

.content p {
    text-align: left;
}

/*provider*/

.tall {
    height: 15vh;

}





/*contact*/
.text {
    grid-column: 1/2;
    grid-row: 1/2;
    color: #88bdbc;


}

.text h1 {
    margin-top: 20%;
    margin-left: 5vw;
    color: #88bdbc;
    font-weight: bolder;
    font-size: 75px;
}

.text h2 {
    margin-top: 15%;
    margin-left: 3vw;
    color: #88bdbc;
    font-weight: bolder;
    font-size: 50px;
}

.chart {
    grid-column: 2/3;
    grid-row: 1/2;

}

.wraper {
    height: 80%;
    width: 75%;

    margin-top: 2vh;
    margin-left: 10%;
    padding: 3%;
}

.wraper h3 {
    font-size: 40px;
}


.flex {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.flex input {
    height: 3vw;
    width: 20vw;
    margin: 1vw;
    border: none;
    border-bottom: 2px solid #88bdbc;
    text-align: left;
    background-color: transparent;
}

.sub {
    height: 4vw;
    width: 43.5vw;
    margin: 1vw;
    border: none;
    border-bottom: 2px solid #88bdbc;
    text-align: left;
    background-color: transparent;
}

textarea {
    height: 10vw;
    width: 43.5vw;
    margin-top: 1vh;
    text-align: left;
    margin-bottom: 0.5vw;
    border: none;
    border-bottom: 2px solid #88bdbc;
    background-color: transparent;
}

button {
    height: 8vh;
    width: 43vw;
    background-color: transparent;
    margin-top: 4vh;
    border: 2px solid #88bdbc;
    box-shadow: 0 5px 10px -5px #000000;


}

button:hover {
    background-color: #88bdbc;
}

/*footer*/


footer p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
    .contain {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 180vw 84vh 6vh;
    }

    .caption11 {
        font-size: 9vw;
        font-style: italic;
        position: absolute;
        left: 15vw;
        top: 15vw;
        color: white;
    }

    .caption12 {
        font-size: 5vw;
        font-style: italic;
        position: absolute;
        left: 23vw;
        top: 27vw;
        color: white;
    }

    .caption21 {
        font-size: 5.5vw;
        font-style: italic;
        font-weight: 2rem;
        position: absolute;
        left: 10vw;
        top: 30vw;
        color: white;
    }

    .caption31 {
        font-size: 5.5vw;
        font-style: italic;
        font-weight: 3rem;
        position: absolute;
        left: 18vw;
        top: 10vw;
        color: white;
    }

    .caption41 {
        font-size: 7vw;
        font-style: italic;
        font-weight: 3rem;
        position: absolute;
        left: 10vw;
        top: 30vw;
        color: white;
    }

    .navbar-toggler-icon {
        font-size: 10px;
    }

    .navbar {
        width: 65%;
    }

    .navbar-toggler {
        font-size: 10px;
        width: 3vw;
        height: 4vh;
        margin: 0;
    }

    .navbar-nav {
        display: flex;
        width: 130%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .logo {
        font-size: 6vw;
        margin-right: 0;
        color: #88bdbc;
        font-weight: bold;

    }


    .item {
        font-size: 3.6vw;
        font-weight: bold;
        color: #7f7f7f !important;

    }

    .contact a {
        color: #88bdbc;
        font-size: 5vw;
        margin: 0.2vw;
    }

}